@import './home.scss';
@import './header.scss';
@import './destination.scss';
@import './crew.scss';
@import './technology.scss';

* {
  margin: 00;
  padding: 00;
  box-sizing: border-box;
}
/* html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
 */
